#header_content_div {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 54px;
    justify-content: center;
    border-bottom: 2px solid var(--color_very_light_pink);
    background: var(--color_modal_background_content);
    z-index: 1;
}

.header-container {
    display: flex;
    position: fixed;
    top: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
    width: 100%;
    max-width: 1920px;
}

.header-logo-image {
    width: 160px;
    cursor: pointer;
}

.header-nav {
    display: flex;
    white-space: nowrap;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

.header-nav>a {
    color: var(--color_dark);
    text-decoration: None;
    border-right: 2px solid var(--color_hospital_green);
    width: 100%;
    padding: 0 15px 0 15px;
}

.header-nav>a:hover,
.header-nav>a:focus {
    color: var(--color_hospital_green);
    transition: 0.25s;
    outline: none;
}

.header-nav>a:first-child {
    display: flex;
    border-radius: 10px;
    border: 2px solid var(--color_hospital_green);
    height: 100%;
    max-height: 32pt;
    align-items: center;
}

.header-nav>a:last-child {
    border-right: none;
    margin-right: 20px;
}

#nav_menu_button:focus,
#nav_menu_button:hover {
    color: var(--color_hospital_green);
    cursor: pointer;
}

#hidden-nav-menu {
    display: none;
}

#hidden-nav {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 75px;
    background: var(--color_white);
    padding: 5px;
    translate: 0px;
    border: 2px solid var(--color_very_light_pink);
}

#hidden-nav>a {
    border-bottom: 2px solid var(--color_hospital_green);
    width: 200px;
    color: var(--color_dark);
    text-decoration: None;
}

#hidden-nav>a:last-child {
    border-bottom: none;
}

#hidden-nav>a:hover,
#hidden-nav>a:focus {
    color: var(--color_hospital_green);
    transition: 0.25s;
    outline: none;
}

#nav_menu_button {
    padding: 20px;
    align-self: center;
}

#logged_in_div,
#no_logged_in_div {
    display: none;
}

#p_welcome_to_user {
    margin: 0;
}

.icon-shopping-cart,
.icon-user {
    display: flex;
    border: 2px solid var(--color_hospital_green);
    width: 24pt;
    height: 24pt;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--color_dark_soft);
    cursor: pointer;
}

#notifications_count_shopping,
#notifications_count_user {
    display: flex;
    position: fixed;
    translate: 15px;
    top: 29px;
    font-size: 8pt;
    background-color: var(--color_red_error_1);
    width: 24px;
    justify-content: center;
    border-radius: 50px;
    color: white;
}

@media (max-width: 1000px) {
    #header_content_div {
        height: 75px;
    }

    .header-nav,
    #header_content_div>div>div:nth-child(3) {
        display: none;
    }

    #header_content_div>div>div.custom-col.s--align-c.s--margin-4px>div>div:nth-child(1)>button,
    #header_content_div>div>div.custom-col.s--align-c.s--margin-4px>div>div:nth-child(2)>button {
        font-size: 8pt;
        max-width: 50px;
        line-height: 16pt;
        border-radius: 10px;
    }

    #hidden-nav-menu {
        display: flex;
    }

}