<div class="footer-container f--justify-sa">
    <div class="custom-col s--margin-12px s--align-c">
        <div class="s--display-f f--justify-c s--margin-4px">
            <img class="footer-logo-image s--margin-b-12px s--margin-t-12px" src="/02_fake_store/media/images/logo.png"
                alt="logo">
        </div>
        <p class="t--8pt t--align-j">
            You can load little creations indefinitely, totally free! Isn't that great? It is the best store in the
            world. 😊
        </p>
        <h4>My social media:</h4>
        <nav class="s--margin-l-12px">
            <a class="social-media-link" href="https://github.com/GonzaloGSC" target="_blank">
                <i class="icon-github-sign icon-2x"></i>
            </a>
            <a class="social-media-link" href="https://www.linkedin.com/in/gonzalogsc/" target="_blank">
                <i class="icon-linkedin-sign icon-2x"></i>
            </a>
        </nav>
    </div>
    <div class="custom-col s--margin-12px">
        <h4>Resources and study information:</h4>
        <nav class="footer-nav f--justify-l">
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/html_css_learning" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/html_icon.png"
                        alt="html_icon">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/css_icon.png"
                        alt="css_icon">
                </a>
            </div>
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/javascript_learning" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/js_icon.png"
                        alt="js_icon">
                </a>
            </div>
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/django_learning" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/dj_icon.png"
                        alt="dj_icon">
                </a>
            </div>
        </nav>
    </div>
    <div class="custom-col s--margin-12px">
        <h4>Other projects:</h4>
        <nav class="footer-nav f--justify-l">
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/angular_example" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/angular_icon.png"
                        alt="angular_icon">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/ts_icon.png"
                        alt="ts_icon">
                </a>
            </div>
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/react_example" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/react_icon.png"
                        alt="react_icon">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/js_icon.png"
                        alt="js_icon">
                </a>
            </div>
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/react_example_typescript" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/react_icon.png"
                        alt="react_icon">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/ts_icon.png"
                        alt="ts_icon">
                </a>
            </div>
            <div class="custom-col s--margin-4px">
                <a class="project-link" href="https://github.com/GonzaloGSC/django_example" target="_blank">
                    <img class="footer-image-icon" src="/01_basic_info_site/media/images/icons/dj_icon.png"
                        alt="dj_icon">
                </a>
            </div>
        </nav>
    </div>
    <div class="custom-col s--margin-12px">
        <h4>Additional Information:</h4>
        <p class="t--8pt t--align-j">
            This website has been designed to showcase the author's skills in the field of web design. This website is
            fully responsive, which means that it adapts perfectly to any device, be it a desktop computer, a tablet or
            a mobile phone.
        </p>
    </div>
</div>

<section class="final-credits t--align-c s--padding-12px">
    <p>Created and Maintained by Gonzalo Salinas.</p>
    <p> Website Code licensed under
        <a class="project-link" href="https://choosealicense.com/licenses/mit/" target="_blank">
            Mit-License
        </a>
    </p>
</section>