<div class="header-container f--justify-sa">
    <div id="hidden-nav-menu">
        <i class="icon-list icon-2x s--dark-color" id="nav_menu_button"></i>
        <nav id="hidden-nav">
            <a class="t--blod t--16pt s--padding-4px s--black-color" href="" name="all_html">All</a>
            <a class="t--blod t--12pt s--padding-4px s--black-color" href="" name="clothes_html">Clothes</a>
            <a class="t--blod t--12pt s--padding-4px s--black-color" href="" name="furniture_html">Furniture</a>
            <a class="t--blod t--12pt s--padding-4px s--black-color" href="" name="technology_html">Technology</a>
            <a class="t--blod t--12pt s--padding-4px s--black-color" href="" name="others_html">Others</a>
        </nav>
    </div>
    <div class="custom-col s--margin-4px s--align-c">
        <img class="header-logo-image" name="home_html" src="/02_fake_store/media/images/logo.png" alt="logo">
    </div>
    <div class="custom-col s--margin-4px">
        <nav class="header-nav">
            <a class="t--blod t--16pt" href="" name="all_html">All</a>
            <a class="t--blod t--12pt" href="" name="clothes_html">Clothes</a>
            <a class="t--blod t--12pt" href="" name="furniture_html">Furniture</a>
            <a class="t--blod t--12pt" href="" name="technology_html">Technology</a>
            <a class="t--blod t--12pt" href="" name="others_html">Others</a>
        </nav>
    </div>
    <div class="custom-col s--align-c s--margin-4px">
        <div class="custom-row" id="no_logged_in_div">
            <div class="custom-col s--margin-4px">
                <button class="t--line-24pt s--success-color s--white-backg s--success-border s--width-100px"
                    name="login_html">
                    Log in
                </button>
            </div>
            <div class="custom-col s--margin-4px">
                <button class="t--line-24pt s--white-color s--success-backg s--white-border s--width-100px"
                    name="create_account_html">Sign up</button>
            </div>
        </div>
        <div class="custom-row f--justify-sb" id="logged_in_div">
            <div class="custom-col s--margin-4px s--margin-r-20px">
                <i class="icon-shopping-cart icon-2x">
                    <p id="notifications_count_shopping">1</p>
                </i>
            </div>
            <div class="custom-col s--margin-4px s--align-c">
                <p id="p_welcome_to_user"></p>
            </div>
            <div class="custom-col  s--margin-4px s--margin-l-8px">
                <i class="icon-user icon-2x">
                    <!-- <p id="notifications_count_user">1</p> -->
                </i>
            </div>
        </div>
    </div>
</div>