<div class="modal-container" id="modal_1">
    <div class="custom-modal">
        <div class="custom-modal-header">
            <h2 class="t--align-c">Terms and Conditions</h2>
        </div>
        <div class="custom-modal-content">
            <p class="t--12pt">
                Welcome to my fictional website, a platform built with the intention of showcasing the author's skills
                as a frontend developer. Please read the following terms of use and policies carefully before using our
                site. <b>By using this website, you agree to these terms and policies and agree to abide by them</b>. If
                you do
                not agree to these terms and policies, please do not use this website.
            </p>
            <h3 class="t--16pt t--line-16pt">User information</h3>
            <p class="t--12pt">
                All information provided by the user and any interaction you make with the site will not
                be recorded or stored in any way. This site is just a fictional platform and not a real store, so it
                will never ask for personal information to make payments or any real transaction will be possible.
            </p>
            <h3 class="t--16pt t--line-16pt">Authorship and License</h3>
            <p class="t--12pt">
                The site is fully authored <b>by Gonzalo Salinas</b>, its creator, and all the information available
                here is
                available on his <a href="https://github.com/GonzaloGSC" target="_blank">personal Github</a> as a <a
                    href="https://github.com/GonzaloGSC/html_css_learning/tree/main/02_fake_store"
                    target="_blank">public project</a>
                under
                the MIT license. If there is an image on this
                site of which you are the author, please contact us via email to make the necessary revisions and
                adjustments.
            </p>
            <h3 class="t--16pt t--line-16pt">Storage of Information</h3>
            <p class="t--12pt">
                The information the site requests is saved locally, so if you close the site or your browser, you'll
                need to log in again. All fictitious purchases and credits must be made within the same user section,
                otherwise they will be deleted along with your account and purchase history.
            </p>
            <h3 class="t--16pt t--line-16pt">Credits and Fictitious Purchases</h3>
            <p class="t--12pt">
                The site allows the loading of credits and fictitious purchases, but these must be made within the same
                user section. Otherwise, they will be deleted along with your account and purchase history.
            </p>
            <h3 class="t--16pt t--line-16pt">Compatible Devices</h3>
            <p class="t--12pt">
                The site is designed for Mobile and Desktop devices and is fully responsive. It has been designed to
                provide an optimal experience on any compatible device.
            </p>
            <h3 class="t--16pt t--line-16pt">User Responsibilities</h3>
            <p class="t--12pt">
                The user is responsible for ensuring the confidentiality of his user information and password. The user
                agrees to immediately notify us of any unauthorized use of their account or any other breach of
                security.
            </p>
        </div>
        <div class="custom-modal-footer">
            <div class="custom-col">
                <button class="t--blod t--12pt t--line-32pt s--white-color s--success-backg s--white-border"
                    onclick="FuncCloseModal('modal_1')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-container" id="modal_2">
    <div class="custom-modal">
        <div class="custom-modal-header">
            <h2 class="t--align-c">Privacy Policies</h2>
        </div>
        <div class="custom-modal-content">
            <p class="t--12pt">
                At this fictional website, we understand the importance of protecting the privacy of your personal data.
                Therefore, we have established these privacy policies to explain how we collect, use, protect and share
                the information you provide through our site.
            </p>
            <h3 class="t--16pt t--line-16pt">Information gathering</h3>
            <p class="t--12pt">
                When you register on our site, we may request personal information, such as your name, email address,
                gender, and other similar information. However, we do not store or record this information, as this site
                is not an actual store.
            </p>
            <h3 class="t--16pt t--line-16pt">Use of Information</h3>
            <p class="t--12pt">
                The information we collect is used to provide a more personalized experience on the site, such as to
                display fictitious purchase history. The information may also be used to improve the content and
                functionality of the site, and to communicate with you regarding your use of the site.
            </p>
            <h3 class="t--16pt t--line-16pt">Information Protection</h3>
            <p class="t--12pt">
                We take steps to protect the information we collect from unauthorized access and unauthorized use.
                However, we cannot guarantee the absolute security of the information, since it is handled in your local
                environment, so your use of the site is at your own risk.
            </p>
            <h3 class="t--16pt t--line-16pt">Information Sharing</h3>
            <p class="t--12pt">
                We do not share information and don't collect it.
            </p>
            <h3 class="t--16pt t--line-16pt">Changes to these Privacy Policies</h3>
            <p class="t--12pt">
                We may update these privacy policies at any time, and we will post updated versions on this site. We
                encourage you to periodically review these policies to be aware of any changes.
            </p>
        </div>
        <div class="custom-modal-footer">
            <div class="custom-col">
                <button class="t--blod t--12pt t--line-32pt s--white-color s--success-backg s--white-border"
                    onclick="FuncCloseModal('modal_2')">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-container" id="modal_3">
    <div class="custom-modal">
        <div class="custom-modal-header">
            <h2 class="t--align-c">Delete local data?</h2>
        </div>
        <div class="custom-modal-content">
            <p class="t--12pt t--align-j">
                Remember that if you delete the local data you must create a new user to be able to access the website,
                all purchase histories and other users will also be lost. Do you wish to proceed?
            </p>
        </div>
        <div class="custom-modal-footer">
            <div class="s--display-b s--margin-4px">
                <button class="t--blod t--12pt t--line-32pt s--white-color s--success-backg s--white-border"
                    onclick="FuncCloseModal('modal_3')">Cancel</button>
            </div>
            <div class="s--display-b s--margin-4px">
                <button class="t--blod t--12pt t--line-32pt s--white-color s--warning-backg s--white-border"
                    id="login_delete_button" onclick="FuncCloseModal('modal_3')">Accept</button>
            </div>
        </div>
    </div>
</div>